# Task 1

In [ ]:
import pandas as pd
import requests
import time

In [3]:
df = pd.read_csv('/Users/wynnephilpott/Documents/missing pauldron/Data Science/Learning Python/Movie API/movie-attendance-by-weeks-full.csv')
df.head()

,film.title,distributor.name,gross.box.o.weekend,adm.weekend,weekend.start,weekend.end
0,Monster Hunter,Sena,1572126.0,1045,2021-01-22,2021-01-24
1,Dragon Rider,Samfilm,1417327.0,1204,2021-01-22,2021-01-24
2,Honest Thief,Myndform,934945.0,650,2021-01-22,2021-01-24
3,Cats & Dogs 3: Paws Unite,Samfilm,688795.0,594,2021-01-22,2021-01-24
4,Wonder Woman 1984,Samfilm,662733.0,467,2021-01-22,2021-01-24

In [5]:
order = df.groupby('film.title').sum().sort_values(by='gross.box.o.weekend',ascending=False)
order = order.reset_index()

In [6]:
order['film.title'] = order['film.title'].str.replace(':','').replace('(','').replace(')','')
order['film.title'].head(8)

0                   Avengers  Endgame
1                    Lof mér að falla
2                               Joker
3             Avengers - Infinity War
4                The Lion King (2019)
5         Mamma Mia! Here We Go Again
6             Star Wars The Last Jedi
7    Star Wars  The Rise of Skywalker
Name: film.title, dtype: object

# Task 2 
Use a subset of above data for learning purposes/troubleshooting

In [22]:
title_list = ['Bohemian Rhapsody','Joker','Frozen 2','Deadpool 2']

In [23]:
films = [f"http://www.omdbapi.com/?i=tt3896198&apikey=d1c9c3a0&t={i}" for i in title_list]

In [24]:
films

['http://www.omdbapi.com/?i=tt3896198&apikey=d1c9c3a0&t=Bohemian Rhapsody',
 'http://www.omdbapi.com/?i=tt3896198&apikey=d1c9c3a0&t=Joker',
 'http://www.omdbapi.com/?i=tt3896198&apikey=d1c9c3a0&t=Frozen 2',
 'http://www.omdbapi.com/?i=tt3896198&apikey=d1c9c3a0&t=Deadpool 2']

# Tasks 3 and 4

In [11]:
response = requests.get('http://www.omdbapi.com/?i=tt3896198&apikey=d1c9c3a0&t=Bohemian Rhapsody')
print(response.status_code)

200

In [12]:
import json

def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

jprint(response.json())

{
    "Actors": "Rami Malek, Lucy Boynton, Gwilym Lee",
    "Awards": "Won 4 Oscars. 48 wins & 80 nominations total",
    "BoxOffice": "$216,668,042",
    "Country": "United Kingdom, United States",
    "DVD": "22 Jan 2019",
    "Director": "Bryan Singer",
    "Genre": "Biography, Drama, Music",
    "Language": "English, British Sign ",
    "Metascore": "49",
    "Plot": "The story of the legendary British rock band Queen and lead singer Freddie Mercury, leading up to their famous performance at Live Aid (1985).",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMTA2NDc3Njg5NDVeQTJeQWpwZ15BbWU4MDc1NDcxNTUz._V1_SX300.jpg",
    "Production": "N/A",
    "Rated": "PG-13",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "7.9/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "60%"
        },
        {
            "Source": "Metacritic",
            "Value": "49/100"
        }
    ],
    "Released": "02 Nov 2018",
    "Response": "True",
    "Runtime": "134 min",
    "Title": "Bohemian Rhapsody",
    "Type": "movie",
    "Website": "N/A",
    "Writer": "Anthony McCarten, Peter Morgan",
    "Year": "2018",
    "imdbID": "tt1727824",
    "imdbRating": "7.9",
    "imdbVotes": "506,366"
}

In [13]:
type(response.json())

dict

In [14]:
pd.DataFrame.from_dict(response.json())

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Bohemian Rhapsody,2018,PG-13,02 Nov 2018,134 min,"Biography, Drama, Music",Bryan Singer,"Anthony McCarten, Peter Morgan","Rami Malek, Lucy Boynton, Gwilym Lee",The story of the legendary British rock band Q...,...,49,7.9,"506,366",tt1727824,movie,22 Jan 2019,"$216,668,042",N/A,N/A,True
1,Bohemian Rhapsody,2018,PG-13,02 Nov 2018,134 min,"Biography, Drama, Music",Bryan Singer,"Anthony McCarten, Peter Morgan","Rami Malek, Lucy Boynton, Gwilym Lee",The story of the legendary British rock band Q...,...,49,7.9,"506,366",tt1727824,movie,22 Jan 2019,"$216,668,042",N/A,N/A,True
2,Bohemian Rhapsody,2018,PG-13,02 Nov 2018,134 min,"Biography, Drama, Music",Bryan Singer,"Anthony McCarten, Peter Morgan","Rami Malek, Lucy Boynton, Gwilym Lee",The story of the legendary British rock band Q...,...,49,7.9,"506,366",tt1727824,movie,22 Jan 2019,"$216,668,042",N/A,N/A,True

In [25]:
title_list

['Bohemian Rhapsody', 'Joker', 'Frozen 2', 'Deadpool 2']

In [144]:
## failed attempt
films = [f"https://order.besse.com/Orders/Search/ProductSearch?query={i}" for i in title_list]

response_list = []
def get_films(response):
    for i in films:
        response_list =  response_list.append(requests.get(i))

In [146]:
response_list

[]